@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F2F2F2;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Ocultar badge de reCAPTCHA en toda la app */
.grecaptcha-badge {
    visibility: hidden !important;
    opacity: 0 !important;
    position: fixed !important;
    bottom: -9999px !important;
    right: -9999px !important;
}